/* =Blockquotes
-----------------------------------*/

blockquote.g7-pullquote {
	width: 220px;
	margin: 0 0 20px;
	letter-spacing: 1px;
	padding: 0 35px 0 35px;
}
blockquote.left {
	float: left;
}
blockquote.right {
	float: right;
}
blockquote.g7-pullquote.right {
	padding-right: 0;
	margin-left: 20px;
}
blockquote.g7-pullquote p {
	padding-right: 10px;
}
blockquote cite {
	display: block;
	margin-top: 10px;
	font-weight: normal;
	font-size: 11px;
	color: #555;
}
blockquote cite:before {
	content: "— ";
}


/* =Buttons
-----------------------------------*/

.g7-btn {
	cursor: pointer;
	display: inline-block;
	padding: 5px 12px 8px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	border: none;
	background-color: #ef4423;
	-webkit-box-shadow:
		1px 1px 1px rgba(0, 0, 0, 0.03),
		0 2px 0 rgba(255, 255, 255, 0.2) inset,
		0 0 1px rgba(0, 0, 0, 0.5) inset,
		0 -4px 0 rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:
		1px 1px 1px rgba(0, 0, 0, 0.03),
		0 2px 0 rgba(255, 255, 255, 0.2) inset,
		0 0 1px rgba(0, 0, 0, 0.5) inset,
		0 -4px 0 rgba(0, 0, 0, 0.1) inset;
	box-shadow:
		1px 1px 1px rgba(0, 0, 0, 0.03),
		0 2px 0 rgba(255, 255, 255, 0.2) inset,
		0 0 1px rgba(0, 0, 0, 0.5) inset,
		0 -4px 0 rgba(0, 0, 0, 0.1) inset;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
	background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
	background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
	background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.g7-btn:hover,
.g7-btn:focus {
	color: #fff;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
	background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
	background-image: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
	background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
}
.g7-btn.red {
	background-color: #ef4423;
}
.g7-btn.bittersweet {
	background-color: #fb6239;
}
.g7-btn.coral {
	background-color: #ff764c;
}
.g7-btn.orange {
	background-color: #fe9b00;
}
.g7-btn.celery {
	background-color: #9fc54e;
}
.g7-btn.blue {
	background-color: #3e93d2;
}
.g7-btn.cerulean {
	background-color: #00adef;
}
.g7-btn.eastern {
	background-color: #2790b0;
}
.g7-btn.terracotta {
	background-color: #e15f4e;
}
.g7-btn.pink {
	background-color: #ff6fbc;
}
.g7-btn.cranberry {
	background-color: #dd577a;
}
.g7-btn.sunset {
	background-color: #ff4c54;
}
.g7-btn.medium {
	font-size: 14px;
	padding: 8px 16px 11px;
}
.g7-btn.large {
	font-size: 17px;
	padding: 12px 20px 15px;
}
.buttons .g7-btn {
	margin: 0 10px 10px 0;
}
body a.g7-btn,
body a.g7-btn:hover {
	color: #fff;
	text-decoration: none;
}


/* =Message Boxes
-----------------------------------*/

.g7-msg {
	color: #444;
	border: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 20px 10px 20px 40px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
	background-position: 12px 22px;
	background-repeat: no-repeat;
	cursor: pointer;
}
.g7-msg h3 {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #555;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
.g7-info {
	border-color: #BFDBF2;
	background-color: #EDFAFF;
	background-image: url(../images/information-white.png);
}
.g7-success {
	border-color: #D3E5AD;
	background-color: #FAFFEA;
	background-image: url(../images/tick.png);
}
.g7-error {
	border-color: #F2BDA3;
	background-color: #FCE8E0;
	background-image: url(../images/exclamation-red.png);
}
.g7-warning {
	border-color: #EAE3AF;
	background-color: #FFFCE5;
	background-image: url(../images/exclamation.png);
}
body .g7-msg h3 {
	margin: 0 0 10px;
}


/* =Tabs
-----------------------------------*/

ul.g7-tabs {
	display: block;
	margin: 0 0 20px 0 !important;
	padding: 0;
	border-bottom: solid 1px #ddd;
}
ul.g7-tabs li {
	display: block;
	width: auto;
	height: 30px;
	padding: 0;
	float: left;
	margin: 0;
}
ul.g7-tabs li a {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	display: block;
	text-decoration: none;
	width: auto;
	height: 29px;
	padding: 0px 20px;
	line-height: 30px;
	border: solid 1px #ddd;
	border-width: 1px 1px 0 0;
	margin: 0;
	background: #f5f5f5;
	outline: none;
	transition: none;
}
ul.g7-tabs li a.active {
	background: #fff;
	height: 30px;
	position: relative;
	top: -4px;
	padding-top: 4px;
	border-left-width: 1px;
	margin: 0 0 0 -1px;
	color: #111;
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
}
ul.g7-tabs li:first-child a.active {
	margin-left: 0;
}
ul.g7-tabs li:first-child a {
	border-width: 1px 1px 0 1px;
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
}
ul.g7-tabs li:last-child a {
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
}
ul.g7-tabs-content {
	list-style-type: none;
	margin: 0 0 20px !important;
	padding: 0;
	display: block;
}
ul.g7-tabs-content > li {
	display: none;
	list-style: none;
	margin: 0;
}
ul.g7-tabs-content > li.active {
	display: block;
}
ul.g7-tabs:before,
ul.g7-tabs:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
ul.g7-tabs:after {
	clear: both;
}
ul.g7-tabs {
	zoom: 1;
}

ul.g7-tabs li a {
	color: #999;
	background-color: #fafafa;
}
ul.g7-tabs li a:hover {
	background-color: #fff;
}


/* =Accordion
-----------------------------------*/

.g7-accordion {
	border: 1px solid #ddd;
	border-bottom: none;
	margin-bottom: 20px;
}
.g7-accordion > dt {
	color: #999;
	background-color: #fafafa;
	padding: 10px;
	cursor: pointer;
	margin: 0;
	border-bottom: 1px solid #ddd;
}
.g7-accordion > dt.active {
	background: #fff;
	color: #444;
	border-bottom: none;
	font-weight: bold;
}
.g7-accordion > dt:hover {
	background-color: #fff;
}
.g7-accordion > dd {
	margin: 0 !important;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}


/* =Lists
-----------------------------------*/

.g7-bullet > ul,
.g7-tick > ul,
.g7-cross > ul,
.g7-plus > ul {
	list-style: none;
	padding: 0;
	margin-left: 0 !important;
}
.g7-bullet ul li {
	padding-left: 25px;
	background: url(../images/globe-small.png) 0 5px no-repeat;
}
.g7-tick ul li {
	padding-left: 25px;
	background: url(../images/tick.png) 0 4px no-repeat;
}
.g7-cross ul li {
	padding-left: 25px;
	background: url(../images/cross.png) 0 5px no-repeat;
}
.g7-plus ul li {
	padding-left: 25px;
	background: url(../images/plus.png) 0 4px no-repeat;
}
body .g7-bullet ul li,
body .g7-tick ul li,
body .g7-cross ul li,
body .g7-plus ul li {
	margin: 0;
	list-style: none;
}


/* =Columns
----------------------------------------------- */

.g7-one_half,
.g7-one_third,
.g7-two_third,
.g7-one_fourth,
.g7-two_fourth,
.g7-three_fourth {
	margin-right: 4%;
	float: left;
	margin-bottom: 20px;
	height: auto !important;
}
.g7-one_half {
	width: 48%;
}
.g7-one_third {
	width: 30.6666%;
}
.g7-two_third {
	width: 65.3332%;
}
.g7-one_fourth {
	width: 22%;
}
.g7-three_fourth {
	width: 74%;
}
.g7-last {
	margin-right: 0 !important;
}


/* =Separator
----------------------------------------------- */

.g7-separator {
	border-top: 1px dashed #ebebeb;
	height: 1px;
	margin-bottom: 19px;
	clear: both;
}
.g7-space {
	height: 20px;
	clear: both;
}


/* =Code
----------------------------------------------- */

.g7-code pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	margin-bottom: 20px;
	padding: 10px;
	background: #fafafa url(../images/code-bg.png);
	padding: 19px;
	line-height: 19px;
	border: 1px solid #eaeaea;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.04);
	-moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.04);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.04);
}
body .g7-code pre,
#content .g7-code pre {
	line-height: 19px;
	padding: 19px;
}


/* =Highlight
----------------------------------------------- */

.g7-highlight {
	background-color: #777;
	color: #222;
	padding: 0 3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.g7-highlight.red {
	background-color: #F29898;
}
.g7-highlight.green {
	background-color: #8BF58B;
}
.g7-highlight.blue {
	background-color: #A0C6FF;
}
.g7-highlight.yellow {
	background-color: #FFF795;
}
.g7-highlight.orange {
	background-color: #FABF83;
}
.g7-highlight.gray {
	background-color: #E0E0E0;
}
.g7-highlight.brown {
	background-color: #D3A75D;
}


/* =Toggles
----------------------------------------------- */

dl.g7-toggle {
	margin-bottom: 0;
	padding: 10px 0;
}
dl.g7-toggle dt {
	padding: 0 0 0 20px;
	background: #fff url(../images/acc-plus.gif) -15px -10px no-repeat;
	cursor: pointer;
}
dl.g7-toggle dd {
	margin: 0;
	padding: 10px 10px 10px 20px;
	border-bottom: 1px solid #efefef;
}
dl.g7-toggle dt.active {
	color: #444;
	background: #fff url(../images/acc-min.gif) -15px -10px no-repeat;
}


/* =Dropcap
----------------------------------------------- */

.g7-dropcap {
	float: left;
	width: 32px;
	height: 32px;
	margin: 5px 10px 0 0;
	line-height: 32px;
	font-size: 36px;
	text-align: center;
}
.g7-dropcap.square {
	font-size: 24px;
	color: #fff;
	background: #444;
}
.g7-dropcap.circle {
	font-size: 24px;
	color: #fff;
	background: #444;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}


/* =Social
------------------------------------------------------------ */

a.g7-social:hover img {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: 0.7;
}
